<!DOCTYPE HTML>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<link href="css/newTab.css" rel="stylesheet" type="text/css" /> <!-- menu show  -->
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>Ordering</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Home <span class="c-gray en">&gt;</span> Online Menu  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Reload" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" ng-controller="myController">
<div class="pd-20"> 

	<div class="formControls col-xs-4" ng-repeat="itemGroup in menuItemGroupList track by itemGroup.code">
  		<ul> <strong>{{itemGroup.menuItemName}}</strong><br>
  			<div class="check-box"
  				ng-repeat="item in menuItemList | filter:{sequence: itemGroup.sequence} track by item.code">
			<label>
			<input type="checkbox" ng-checked="ngCheckItem(item)" 
				ng-click="toggleSelection($event, itemGroup, item)">
			{{item.menuItemName}}</label>
		</div>
  		</ul>
  	</div>
<!-- 
	<div class="newtab-cell" ng-repeat="menu in menuList">
		<div class="newtab-site" draggable="true">
			<span class="newtab-sponsored"></span>
			<a class="newtab-link"
				title="{{menu.menuName}}"
				href="ordering-menuItem.html?menuId={{menu.menuId}}&menuGroupId={{menuGroupId}}"> 
				<img
				class="newtab-thumbnail"
				ng-if="(menu.url != null)" ng-src="{{menu.url}}"/>
				<img
				class="newtab-thumbnail"
				ng-if="(menu.url  == null)" src="img/missingimg.png"/>
				<span class="newtab-thumbnail enhanced-content"></span> 
				<span class="newtab-title">{{menu.menuName}}</span>
			</a>
		</div>
	</div>
	 -->
</div>
</div>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js"></script>
	<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
	<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
</body>
<script type="text/javascript">
function getParamFromUrl(paramName) {
	   return (window.location.search.match(new RegExp('[?&]' + paramName + '=([^&]+)')) || [, null])[1];
}
function reloadPage(url) {
	
}
function exportPDF() {
	console.log("export PDF");
}
var app = angular.module("app",["ngRoute"]);
app.controller("myController", function($scope, $http) {
	$scope.menuGroupId = getParamFromUrl("menuGroupId");
	$scope.menuId = getParamFromUrl("menuId");
	$scope.menuItemList = [];
	$scope.menuItemGroupList = [];
	$scope.selectedItems = [];
	$http.get("http://ews-web.servebbs.com:8090/zsoft/fetchMenuItemOnline.ewsvc?menuGroupId="+$scope.menuGroupId+"&menuId="+$scope.menuId)
		.then(function (response) {
			$scope.menuItemList=response.data;
			$scope.menuItemGroupList = response.data.filter(function(item){
				console.log("menuItemGroup", angular.uppercase(item.menuCategoryType));	
				if (angular.uppercase(item.menuCategoryType) == 'MENU-ITEM-GROUP') {
					return item;
				}
			});
		});
	$scope.toggleSelection = function($event, itemGroup, item) {
		console.log(itemGroup);
		var checkbox = $event.target;
		var limitSelection = itemGroup.limitSelection;
		console.log("limitSelecton=", limitSelection);
		var selected = 0;
		if ($event.target.checked) {
			angular.forEach($scope.selectedItems, function(obj, index) {
				if (item.menuId == obj.menuId && item.sequence == obj.sequence) {//count group selected 
					selected = selected + 1;
				}
			})
			console.log("current selected how many = " , selected);
			if (selected < limitSelection) {
				$event.target.checked = true;
				$scope.selectedItems.push(item);
			} else {
				$event.target.checked = false;
			}
		} else {
			//selectedItems.splice(selectedItems.indexOf(item), 1); // remove item
			console.log("what is it = ", $scope.selectedItems);
			$scope.removeSelectedItem(item);
		}
	}
	$scope.ngCheckItem = function (item) {
		var checked = false;
		/*angular.forEach($scope.selectedItems, function(obj, index) {
			if (obj.code == item.code) {
				checked = true;
				return false;
			}
		})*/
		$.each($scope.selectedItems, function(i){
		    if($scope.selectedItems[i].code === item.code) {
		    	checked = true;
		    	return false;
		    }
		});
		return checked;
	}
	// remove item from selected List
	$scope.removeSelectedItem = function(item) {
		angular.forEach($scope.selectedItems, function(obj, index){
		    // sourceArray is a reference to the original array passed to ng-repeat, 
		    // rather than the filtered version. 
		    // 1. compare the target object's hashKey to the current member of the iterable:
		    if (obj.$$hashKey === hashKey) {
		      // remove the matching item from the array
		      $scope.selectedItems.splice(index, 1);
		      // and exit the loop right away
		      return;
		    };
		  });
	}
})
/*
app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "main.htm"
    })
    .when("/red", {
        templateUrl : "red.htm"
    })
    .when("/green", {
        templateUrl : "green.htm"
    })
    .when("/blue", {
        templateUrl : "blue.htm"
    });
});*/
</script>
</html>